/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

}
/* Navbar */
.navbar{
  width: 1440px;
  height: 72px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.navbar ul{
  display: flex;
  gap: 24px;
  list-style: none;
  text-transform: uppercase;
  
}
.navbar ul li a{
  text-decoration: none;
  color:#2E2E2E;
  font-size: 16px;
  font-weight: 600;

}
.navbar ul li a:hover{
  border-bottom: 2px solid #2E2E2E;
}
.logo{
  width: 76px;
  height: 42.75px;
  
}
.navbar button{
  width: 72px;
  height: 31px;
  background: #D01C28;
  gap: 10px;
  text-align: center;
  border: none;
  color: #fff;
  padding: 6px 16px 6px 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19.36px;
  transition: .2s;
  
}
.navbar button:hover{
  transform: scale(1.1);
}
/* Home */

.home{
  width: 1440px;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content{
  max-width: 1125px;
  height: 613px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-content{
 max-width: 595px;
 display: flex;
 flex-direction: column;
 gap: 36px;


}
.left-content h1{
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
  color: #000000;

}
.left-content .add{
  width: 404px;
  height: 91px;
  color:  #5A5959;
  width: 600;
  font-size: 16px;
  line-height: 24px;
}
.selectors{
  display: flex;
  gap: 24px;
}
.shop-now{
  all: unset;
  width: 118px;
  padding: 6px 16px;
  background: #D01C28;
  color: #FFF;
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.shop-now:hover{
  transform: scale(1.1);
}
.category{
  all: unset;
    width: 118px;
    padding: 6px 16px;
    background: transparent;
    color: #5A5959;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #2E2E2E;
    transition: 0.5s;
}
.category:hover{
  transform: scale(1.1);
  background: #D01C28;
  color: #FFF;
}
.online-shop{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.online-shop p{
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  
}
.right-content img{
  width: 530px;
  height: 487.06px;
}
.online-img{
  display: flex;
  gap: 10px;
}
.flipkart{
  width: 32px;
  height: 32px;
}
.amazon{
  width: 32px;
  height: 32px;
}